[MESSAGES CONTROL]

disable=import-error,
        relative-beyond-top-level,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        use-dict-literal,
        broad-exception-caught
